h3 
{
	text-align:center;
	font-size:135%;
	font-family:Blackletter;
}
html, body{
    height: 100%;
}
body{ 
    color: #fff;
    background-image: url(../img/Fondos/fondoFormulario.jpg) ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;
}

form{
	text-align:center;
}

label{
	font-size: 135%;
}

input[type=text], input[type=password], input[type=email] {
    margin: auto;
    width: 30%;
    height: 60px;
    text-align:center;
    border: 1px solid #000;
    box-sizing: border-box;
    height:7.5%;
    margin-bottom: 7%;
    margin:0px auto; 
    display:block;
    font-family: lol;
}
input[type=text]:focus, input[type=password]:focus,  input[type=email]:focus{
    border: 2px solid  #462ebf ;
}
input[type="submit"]{
	margin-bottom: 0;
	background: #229;
	color:#fff;
	width: 20%;
	height: 40px;
	border:none;
	}	
input[type="submit"]:hover{
	background: #339;
}

h1
{
	text-align:center;
	font-size:300%;
}

#fecha
{
	    margin-right: 50px;

}