h1
{
	text-align:center;
	font-size:300%;
	margin: auto;
        color: #fff;
}

h5
{
	text-align:center;
	margin:auto;
	margin-bottom: 1%;
	margin-right: 5%;
	margin-left: 5%;
}
h3{
    text-align:center;
	margin:auto;
	margin-bottom: 1%;
	margin-right: 5%;
	margin-left: 5%;
}
html, body{
    height: 100%;
}
body{ 
    color: #fff;
    background-image: url(../img/Fondos/fondoPrincipal.png) ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;
}

/*body{
    
    background-image: url("../fondo.png");
    background-repeat: repeat;
      
}*/
 /* GALERIA */
.slider{
 float: left;
 width: 800px;
 height: 600px;
 display: flex;
 flex-wrap: wrap;
 overflow: hidden;
 margin-bottom:1%;
 /*border: 10px solid #77f;*/
}

input[type="radio"]{
	display: none;
}

.slider ul{
	width: 400%;
	height: 75%;
	display: flex;
	list-style: none;
	order: 1;
	transition: all 0.7s;
}

input[type="radio"] + label{
	display: block;
	width: 25%;	
	height:25%;
	cursor: pointer;
	order: 2;
	border: 1px solid #fff;
	opacity: 0.5;
}
input[type="radio"] + label:hover{

opacity: 1;
border: 3px solid #77f;
}
#boton1 + label {
	background: url(../img/Galeria/Galeria1.jpg);
	background-size: 100% 100%; 	
}
#boton2 + label {
	background: url(../img/Galeria/Galeria2.jpg);
	background-size: 100% 100%; 
	
}
#boton3 + label {
	background: url(../img/Galeria/Galeria3.jpg);
	background-size: 100% 100%; 
	
}
#boton4 + label {
	background: url(../img/Galeria/Galeria4.jpg);
	background-size: 100% 100%; 	
}
#boton1:checked ~ ul{
	margin-left: -40px;

}
#boton2:checked ~ ul{
	margin-left: -840px;

}
#boton3:checked ~ ul{
	margin-left: -1640px;
	
}
#boton4:checked ~ ul{
	margin-left: -2440px;	
}

/* LOGIN  */

div#loguear{
	padding-top: 50px;
	float: right;

	margin: auto;
	width:100%;
}
form {
	width: 100%;

   	margin: auto;
   	
}
input[type=text], input[type=password] {
    margin: auto;
    width: 70%;
    text-align:center;
    border: 1px solid #000;
    box-sizing: border-box;
    height:7.5%;
    margin-bottom: 7%;
    margin:0px auto; 
    display:block;
    font-family: lol;
}
input[type=text]:focus, input[type=password]:focus{
	border: 2px solid  #462ebf ;
	
}
button {
    background-color: rgb(167, 105, 52);
    color: white;
    margin-bottom: 20%;
    cursor: pointer;
    width: 60%;
    margin: auto;
    height: 8%;
    font-size: 25px;
    font-family: lol;
}
button:hover {
    opacity: 0.9;
}
span.psw {	
    margin: auto;
    margin-left:10% ;
    padding-top: 16px;
    font-family: lol;
}
label#loginName{
	font-size: 40px;
	text-align:center;
	
	width: 100%;
}
label#loginPass{
	font-size: 40px;
	text-align:center;
	
	width: 100%;	
}
label#FanArt{
	text-align:center;
	font-size: 20px;
	margin:auto;
	margin-top:0.5%;
	margin-bottom: 0.5%;
	width:65%;
}	

div#noticia{
	text-align:center;
	margin:auto;
	margin-top:2%;
	background: #d8ab4b;
	width:98%;
	height:40%;
	overflow-y: scroll;
}
h2{
	margin:auto;
	margin-bottom: -1.5%;
}