h1
{
	text-align:center;
	font-size:300%;
	margin: auto;
    color: #fff;
}
#fondo{
    color: #fff;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: none;
    background-size:  cover;
    background-color: #999;
}

h5
{
	text-align:center;
	margin:auto;
	margin-bottom: 1%;
	margin-right: 5%;
	margin-left: 5%;
}
h3{
    text-align:left;
	margin:auto;
}
html, body{
    height: 100%;
}
body{ 
    color: #fff;
    background-image: url(../img/Fondos/Pyke.jpg) ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;
}

/*body{
    
    background-image: url("../fondo.png");
    background-repeat: repeat;
      
}*/